<div class="container">
  <div class="login">
    <h3 class="header-bold">Login to Nexus</h3>
    <h3 class="linkButton">or <a class="linkButton" routerLink="/signup">Create Account</a></h3>
    <div class="login-form">
      <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
        <div class="form-group">
          <input placeholder="email" type="email" name="email" [(ngModel)]="email" class="form-control" required/>
        </div>
        <div class="form-group">
          <input placeholder="password" type="password" name="password" [(ngModel)]="password" class="form-control" required/>
        </div>
        <input type="submit" value="login" class="btn btn-block">
      </form>
      <div class="forgot-div">
        <a routerLink="/login/forgotpassword" class="forgot-login">Forgot login?</a>
      </div>
    </div>
  </div>
</div>
