.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 0;
  margin: 0 auto;
}

.back {
  width: 40px;
  height: 40px;
  display: block;
  padding-top: 10px;
  margin: auto;
}

.back-div {
  background-color: white;
  width: 50px;
  height: 50px;
}

.header-semi-bold {
  font-family: Helvetica;
  font-size: 52px;
  font-weight: 700;
  text-transform: capitalize;
}

.paragraph {
  color: #9F9F9F;
  font-size: 20px;
}

.colour-block-div {
  height: 125px;
  width: 100px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  background-color: #507bfc;
}

.colour-block-text {
  color: #fff;
  font-family: 'OpenSans';
  text-align: center;
  font-weight: 300px;
  font-size: 14px;
  margin-top: 30px;
}

.icon-color-div {
  padding-top: 20px;
}

.icon {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}

.icon-col {
  float: left;
  width: 100px;
  height: 20px;
  margin-right: 8px;
}

.icon-col-2 {
  margin-left: 10px;
}

.seperator {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #BEBEBE;
}

.detail-row-header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.detail-row {
  margin-top: 130px;
  margin-bottom: 40px;
}

.detail-header {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 700;
  color: #454545;
  text-transform: capitalize;
}

.single-amenity {
  height: 100px;
  width: 90px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.amenities-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ammenities-row {
  margin-top: 60px;
}

.paragraph-icon {
  margin-top: 20px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300px;
  font-size: 12px;
}

.location-map {
  margin-top: 30px;
  width: 90%;
  height: 350px;
}

agm-map {
  height: 100%;
  width: 100%;
}

.paragraph-description {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 300px;
  font-family: 'OpenSans';
  color: #313131;
  width: 90%;
}


/*.header-light {
  font-size: 60px;
}

.header-bold {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.header-semi-bold{
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.border {
  border-style: solid;
  border-width: 0;
  border-color: black;
}

.icon {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}

.image-text{
  width: 80px;
  margin: 50px;
}

.seperator{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #BEBEBE
}

.label{
  font-size: 14px;
}

.paragraph{
  width: 80%
}

agm-map {
  height: 300px;
  width: 80%;
}

.amenities{
  width: 80%;
}

.amenities-icon{
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-icon{
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300px;
  font-size: 12px;
}

.amenities-row{
//  margin-top: 50px;
}



.single-amenity{
  height: 100px;
  width: 90px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

*/
