<div class="container">
  <div class="login">
    <h3 class="header-bold">Forgot Password</h3>
    <div class="login-form">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <input placeholder="email" type="email" name="email" [(ngModel)]="email" class="form-control" required/>
        </div>
        <input *ngIf="back == false" type="submit" value="Reset Password" class="btn btn-block">
        <a *ngIf="back == true" routerLink="/login"  class="forgot-login">Back To Login</a>
      </form>
    </div>
  </div>
</div>
