.container{
  width: 100vw;
  height: 90%;

}

.login{
  width: 400px;
  margin: 0 auto;
  height: 100%;
  background-color: white;
}

.login-form{
  //background-color: red;
  text-align: center;
  width: 276px;
  padding-top: 50px;
  margin: 0 auto;
}

.header-bold{
  text-align: center;
  padding-top: 20%
}

.linkButton{
  text-align: center
}

.btn{
  background-color: #313131;
  font-family: 'Open Sans';
  font-weight: 400;
  color: white;
  font-size: 13px;
  height: 44px;
  padding-top: 10px;
}

.forgot-login{
  font-family: 'Open Sans';
  font-weight: 300px;
  font-size: 15px;
  color: #a0a09f;
  text-align: center
}

.btn{
  background-color: #313131;
  color: #fff
}
