<nav class="navbar fixed-top navbar-light bg-light">
  <a routerLink="/" class="btn btn-link">
    <i class="material-icons">close</i>
  </a>

  <a *ngIf="stage >= 2" routerLink="/" class="btn btn-link-right">
    <!--<i class="material-icons">play_arrow</i>-->
    <span>Skip for now</span>
  </a>
</nav>

<app-add-address *ngIf="stage == 1" [id]="id" (newDoc)="onNewDoc($event)"></app-add-address>
<app-add-features *ngIf="stage == 2" [docId]="docId" [stage]="stage" (newDoc)="onStage3($event)"></app-add-features>
<app-add-info *ngIf="stage == 3" [docId]="docId" [stage]="stage" (newDoc)="onStage4($event)"></app-add-info>
<app-add-amenities *ngIf="stage == 4" [docId]="docId" [stage]="stage" (newDoc)="onStage5($event)" ></app-add-amenities>
<app-add-images *ngIf="stage == 5" [docId]="docId" [stage]="stage" (newDoc)="onStage6($event)" ></app-add-images>
