<nav class="navbar fixed-top">
  <img class="logo d-none d-md-block d-lg-block d-xl-block" src="../../../assets/imgs/logo.svg" />
  <!--ngxgeo-autocomplete class="searchnav" [userSettings]="userSettings" name="address" [(ngModel)]="this.formatted_address" (componentCallback)="autoCompleteCallback1($event)"></ngxgeo-autocomplete>-->
    <button class="search-btn" mat-fab (click)="select()">
     <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
   </button>
    <!--<img (click)="select()" src="../../../assets/icons/profile.svg" class="profile-pic d-none d-md-block d-lg-block d-xl-block"/>-->
</nav>
