<div class="scroll">
  <ng-scrollbar barClass="scroll-bar" thumbClass="scroll-thumbs" #scrollable>
    <div class="row" *ngFor="let chat of chats">
      <div class="col">
        <div class="from-me" *ngIf="chat.uid == client">
          <h3 class="chat-text-mine">{{chat.message}}</h3>
        </div>
        <div class="div" *ngIf="chat.uid == agent">
          <div class="from-them">
            <h3 class="chat-text-yours">{{chat.message}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="usage"></div>
  </ng-scrollbar>
</div>
<footer class="footer">
  <div class="send">
    <div class="input-div">
      <textarea class="input" (keyup.enter)="send()" (click)="this.scrollDown()"  [(ngModel)]="message" placeholder="Type a message ..."></textarea>
    </div>
    <div class="send-div">
      <img *ngIf='message != "" || message == null' class="icon-img" src="../../../assets/icons/send.svg" (click)="send()">
    </div>
  </div>
</footer>
