.chat-col{
  height: 90%
}

.chat-box{
  height: 500px;
  width: 100%
}
.message-history-div{
  height: 90%;
  width: 100%
}

.header-message {
  width: 100%
}

// Back Row Structure //

.ref{
  background-color: white;
}

.row{
  height: 60vh;
}
